/* CSS für das Webinterface */

*
{
    margin: 0;
    padding: 0;
}

#header
{
    height: 20px;
    background-color: red;
}

#main
{
    height: 100%;
    background-color: orange;
}

#footer
{
    height: 30px;
    background-color: blue;
}